
.swiftpm/.DS_Store
.swiftpm/xcode/.DS_Store
.DS_Store
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm
.swiftpm/xcode/xcuserdata
xcuserdata
.swiftpm/xcode/package.xcworkspace/xcuserdata